# SPDX-FileCopyrightText: © 2022 Sebastian Davids <sdavids@gmx.de>
# SPDX-License-Identifier: Apache-2.0

ServerSignature Off

SetEnvIf Host ^ suppress-error-charset

ErrorDocument 300 '<!doctype html><html lang=en><meta charset=utf-8><title>Not Found</title><meta content="width=device-width,initial-scale=1" name=viewport><meta content="light dark" name=color-scheme><style>html{-webkit-text-size-adjust:100%;font-family:ui-sans-serif,system-ui,sans-serif}body{text-align:center;background-color:#e5e7eb;flex-direction:column;min-height:100vh;display:flex}main{flex-grow:1;place-items:center;display:grid}a{color:inherit;-webkit-text-decoration:inherit;text-decoration:inherit}@media (prefers-color-scheme:dark){body{background-color:#000}}</style><main><div><h1>Not Found</h1><p><a href="/"><span aria-hidden="true">← </span>Back to home</a></p></div></main>'
ErrorDocument 403 '<!doctype html><html lang=en><meta charset=utf-8><title>Forbidden</title><meta content="width=device-width,initial-scale=1" name=viewport><meta content="light dark" name=color-scheme><style>html{-webkit-text-size-adjust:100%;font-family:ui-sans-serif,system-ui,sans-serif}body{text-align:center;background-color:#e5e7eb;flex-direction:column;min-height:100vh;display:flex}main{flex-grow:1;place-items:center;display:grid}a{color:inherit;-webkit-text-decoration:inherit;text-decoration:inherit}@media (prefers-color-scheme:dark){body{background-color:#000}}</style><main><div><h1>Forbidden</h1><p><a href="/"><span aria-hidden="true">← </span>Back to home</a></p></div></main>'
ErrorDocument 404 '<!doctype html><html lang=en><meta charset=utf-8><title>Not Found</title><meta content="width=device-width,initial-scale=1" name=viewport><meta content="light dark" name=color-scheme><style>html{-webkit-text-size-adjust:100%;font-family:ui-sans-serif,system-ui,sans-serif}body{text-align:center;background-color:#e5e7eb;flex-direction:column;min-height:100vh;display:flex}main{flex-grow:1;place-items:center;display:grid}a{color:inherit;-webkit-text-decoration:inherit;text-decoration:inherit}@media (prefers-color-scheme:dark){body{background-color:#000}}</style><main><div><h1>Not Found</h1><p><a href="/"><span aria-hidden="true">← </span>Back to home</a></p></div></main>'
ErrorDocument 405 '<!doctype html><html lang=en><meta charset=utf-8><title>Not Allowed</title><meta content="width=device-width,initial-scale=1" name=viewport><meta content="light dark" name=color-scheme><style>html{-webkit-text-size-adjust:100%;font-family:ui-sans-serif,system-ui,sans-serif}body{text-align:center;background-color:#e5e7eb;flex-direction:column;min-height:100vh;display:flex}main{flex-grow:1;place-items:center;display:grid}a{color:inherit;-webkit-text-decoration:inherit;text-decoration:inherit}@media (prefers-color-scheme:dark){body{background-color:#000}}</style><main><div><h1>Not Allowed</h1><p><a href="/"><span aria-hidden="true">← </span>Back to home</a></p></div></main>'
ErrorDocument 500 '<!doctype html><html lang=en><meta charset=utf-8><title>Internal Server Error</title><meta content="width=device-width,initial-scale=1" name=viewport><meta content="light dark" name=color-scheme><style>html{-webkit-text-size-adjust:100%;font-family:ui-sans-serif,system-ui,sans-serif}body{text-align:center;background-color:#e5e7eb;flex-direction:column;min-height:100vh;display:flex}main{flex-grow:1;place-items:center;display:grid}a{color:inherit;-webkit-text-decoration:inherit;text-decoration:inherit}@media (prefers-color-scheme:dark){body{background-color:#000}}</style><main><div><h1>Internal Server Error</h1><p><a href="/"><span aria-hidden="true">← </span>Back to home</a></p></div></main>'

# https://httpd.apache.org/docs/current/content-negotiation.html#multiviews
Options -MultiViews

<LimitExcept GET HEAD OPTIONS>
  Deny from all
</LimitExcept>

<IfModule mod_mime.c>
  AddDefaultCharset utf-8

  AddCharset utf-8 .css \
    .js \
    .svg \
    .txt \
    .webmanifest \
    .xml

  <Files "traffic-advice">
    # https://developer.chrome.com/blog/private-prefetch-proxy/#traffic
    ForceType application/trafficadvice+json
  </Files>

  <Files "site.webmanifest">
    # https://w3c.github.io/manifest/#iana-considerations
    ForceType application/manifest+json
  </Files>
</IfModule>

# setting the MIME type for SVG via ForceType does not work
<IfModule mod_headers.c>
  <FilesMatch "\.js(\.br|\.gz|\.zst)?$">
    Header set Content-Type "text/javascript"
  </FilesMatch>
  <FilesMatch "\.svg(\.br|\.gz|\.zst)?$">
    Header set Content-Type "image/svg+xml"
  </FilesMatch>
  <FilesMatch "\.(age|gpg|pub)(\.br|\.gz|\.zst)?$">
    Header set Content-Type "text/plain"
  </FilesMatch>
</IfModule>

<IfModule mod_autoindex.c>
  # https://developer.mozilla.org/en-US/docs/Learn/Server-side/Apache_Configuration_htaccess#directory_access
  Options -Indexes
</IfModule>

# block hidden files in root except .well-known/
<IfModule mod_rewrite.c>
  RewriteEngine on
  RedirectMatch 404 /\.(?!well-known\/)
</IfModule>

###disallowed-user-agents###

# block unknown user agent
<IfModule mod_rewrite.c>
  RewriteEngine on
  RewriteBase /
  RewriteCond "%{HTTP_USER_AGENT}" "^(?:\s|-)*$"
  RewriteRule "^" "-" [NC,F,L]
</IfModule>

<IfModule mod_headers.c>
  Header unset ETag

  # https://cheatsheetseries.owasp.org/cheatsheets/HTTP_Headers_Cheat_Sheet.html#strict-transport-security
  Header always set Strict-Transport-Security "max-age=63072000; includeSubDomains; preload" "expr=%{HTTPS} == 'on'"

  # https://cheatsheetseries.owasp.org/cheatsheets/HTTP_Headers_Cheat_Sheet.html#x-content-type-options
  Header always set X-Content-Type-Options "nosniff"

  # https://cheatsheetseries.owasp.org/cheatsheets/HTTP_Headers_Cheat_Sheet.html#cross-origin-resource-policy-corp
  Header always set Cross-Origin-Resource-Policy "same-origin" "expr=%{CONTENT_TYPE} =~ m#text\/(html|javascript)|application\/xml#i"

  # https://cheatsheetseries.owasp.org/cheatsheets/HTTP_Headers_Cheat_Sheet.html#cross-origin-opener-policy-coop
  Header always set Cross-Origin-Opener-Policy "same-origin" "expr=%{CONTENT_TYPE} =~ m#text\/(html|javascript)|application\/xml#i"

  # https://cheatsheetseries.owasp.org/cheatsheets/HTTP_Headers_Cheat_Sheet.html#cross-origin-embedder-policy-coep
  Header always set Cross-Origin-Embedder-Policy "require-corp" "expr=%{CONTENT_TYPE} =~ m#text\/(html|javascript)|application\/xml#i"

  # https://developer.mozilla.org/en-US/docs/Web/HTTP/CSP
  # https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Content-Security-Policy#CSP_in_workers
  Header always set Content-Security-Policy "default-src 'none'; frame-ancestors 'none'; base-uri 'none'; form-action 'none'; script-src 'self'; img-src 'self'; style-src 'self' 'sha256-OuM9gLThnBHigmG4TMLjbrC0zN0+hFfoxvXKO91fvTI='; manifest-src 'self'; upgrade-insecure-requests; trusted-types; require-trusted-types-for 'script'" "expr=%{CONTENT_TYPE} =~ m#text\/(html|javascript)|application\/xml#i"

  # https://cheatsheetseries.owasp.org/cheatsheets/HTTP_Headers_Cheat_Sheet.html#referrer-policy
  Header always set Referrer-Policy "strict-origin-when-cross-origin" "expr=%{CONTENT_TYPE} =~ m#text\/(css|html|javascript)|application\/xml#i"

  # https://cheatsheetseries.owasp.org/cheatsheets/HTTP_Headers_Cheat_Sheet.html#x-frame-options
  Header always set X-Frame-Options "DENY" "expr=%{CONTENT_TYPE} =~ m#text\/html#i"

  # https://cheatsheetseries.owasp.org/cheatsheets/HTTP_Headers_Cheat_Sheet.html#permissions-policy-formerly-feature-policy
  # https://developers.google.com/privacy-sandbox/relevance/topics/developer-guide#site-opt-out
  Header always set Permissions-Policy "camera=(),microphone=(),geolocation=(),unload=(),browsing-topics=(),join-ad-interest-group=(),run-ad-auction=(),attribution-reporting=()" "expr=%{CONTENT_TYPE} =~ m#text\/(html|javascript)|application\/xml#i"
</IfModule>

FileETag None

# configure caching
<IfModule mod_headers.c>
  <FilesMatch "\.(ico|png|webmanifest)$">
    # 10 minutes
    Header set Cache-Control "public, max-age=600, stale-while-revalidate=60"
  </FilesMatch>

  <FilesMatch "\.(age|gpg|pub)(\.br|\.gz|\.zst)?$">
    # 10 minutes
    Header set Cache-Control "public, max-age=600, stale-while-revalidate=60"
  </FilesMatch>

  <FilesMatch "\.[0-9a-f]{7}\.(css(\.br|\.gz|\.zst)?|js(\.br|\.gz|\.zst)?|png|svg(\.br|\.gz|\.zst)?)$">
    # 1 year
    Header set Cache-Control "public, max-age=31536000, immutable"
  </FilesMatch>

  <FilesMatch "favicon\.ico$">
    # 1 day
    Header set Cache-Control "public, max-age=86400, stale-while-revalidate=60"
  </FilesMatch>

  <FilesMatch "robots\.txt$">
    Header set Cache-Control "private, no-store"
  </FilesMatch>

  <FilesMatch "sitemap\.xml(\.gz)?$">
    Header set Cache-Control "private, no-store"
  </FilesMatch>

  <FilesMatch "site\.webmanifest$">
    # 1 minute
    Header set Cache-Control "public, max-age=60"
  </FilesMatch>

  <Files "traffic-advice">
    # 10 minutes
    Header set Cache-Control "public, max-age=600, stale-while-revalidate=60"
  </Files>

  <Files "security.txt">
    # 10 minutes
    Header set Cache-Control "public, max-age=600, stale-while-revalidate=60"
  </Files>

  <FilesMatch "index\.html(\.br|\.gz|\.zst)?$">
    # 10 minutes
    Header set Cache-Control "public, max-age=600, stale-while-revalidate=60"
  </FilesMatch>
</IfModule>

# serve pre-compressed brotli, gzip and zstd files
<IfModule mod_headers.c>
  RewriteCond "%{HTTP:Accept-encoding}" "zstd"
  RewriteCond "%{REQUEST_FILENAME}.zst" -s
  RewriteRule "^(.*)\.(age|css|gpg|html|js|pub|svg)$" "/$1.$2.zst" [QSA]

  RewriteRule "\.age\.zst$" "-" [T=text/plain,E=no-brotli:1,E=no-gzip:1,E=no-zstd:1]
  RewriteRule "\.css\.zst$" "-" [T=text/css,E=no-brotli:1,E=no-gzip:1,E=no-zstd:1]
  RewriteRule "\.gpg\.zst$" "-" [T=text/plain,E=no-brotli:1,E=no-gzip:1,E=no-zstd:1]
  RewriteRule "\.html\.zst$" "-" [T=text/html,E=no-brotli:1,E=no-gzip:1,E=no-zstd:1]
  RewriteRule "\.js\.zst$" "-" [T=text/javascript,E=no-brotli:1,E=no-gzip:1,E=no-zstd:1]
  RewriteRule "\.pub\.zst$" "-" [T=text/plain,E=no-brotli:1,E=no-gzip:1,E=no-zstd:1]
  RewriteRule "\.svg\.zst$" "-" [T=image/svg+xml,E=no-brotli:1,E=no-gzip:1,E=no-zstd:1]

  <FilesMatch "(\.age|\.css|\.gpg|\.html|\.js|\.pub|\.svg)\.zst$">
    Header append Content-Encoding zstd
    Header append Vary Accept-Encoding
  </FilesMatch>

  RewriteCond "%{HTTP:Accept-encoding}" "br"
  RewriteCond "%{REQUEST_FILENAME}.br" -s
  RewriteRule "^(.*)\.(age|css|gpg|html|js|pub|svg)$" "/$1.$2.br" [QSA]

  RewriteRule "\.age\.br$" "-" [T=text/plain,E=no-brotli:1,E=no-gzip:1,E=no-zstd:1]
  RewriteRule "\.css\.br$" "-" [T=text/css,E=no-brotli:1,E=no-gzip:1,E=no-zstd:1]
  RewriteRule "\.gpg\.br$" "-" [T=text/plain,E=no-brotli:1,E=no-gzip:1,E=no-zstd:1]
  RewriteRule "\.html\.br$" "-" [T=text/html,E=no-brotli:1,E=no-gzip:1,E=no-zstd:1]
  RewriteRule "\.js\.br$" "-" [T=text/javascript,E=no-brotli:1,E=no-gzip:1,E=no-zstd:1]
  RewriteRule "\.pub\.br$" "-" [T=text/plain,E=no-brotli:1,E=no-gzip:,E=no-zstd:1]
  RewriteRule "\.svg\.br$" "-" [T=image/svg+xml,E=no-brotli:1,E=no-gzip:1,E=no-zstd:1]

  <FilesMatch "(\.age|\.css|\.gpg|\.html|\.js|\.pub|\.svg)\.br$">
    Header append Content-Encoding br
    Header append Vary Accept-Encoding
  </FilesMatch>

  RewriteCond "%{HTTP:Accept-encoding}" "gzip"
  RewriteCond "%{REQUEST_FILENAME}.gz" -s
  RewriteRule "^(.*)\.(age|css|gpg|html|js|pub|svg)$" "/$1.$2.gz" [QSA]

  RewriteRule "\.age\.gz$" "-" [T=text/plain,E=no-brotli:1,E=no-gzip:1,E=no-zstd:1]
  RewriteRule "\.css\.gz$" "-" [T=text/css,E=no-brotli:1,E=no-gzip:1,E=no-zstd:1]
  RewriteRule "\.gpg\.gz$" "-" [T=text/plain,E=no-brotli:1,E=no-gzip:1,E=no-zstd:1]
  RewriteRule "\.html\.gz$" "-" [T=text/html,E=no-brotli:1,E=no-gzip:1,E=no-zstd:1]
  RewriteRule "\.js\.gz$" "-" [T=text/javascript,E=no-brotli:1,E=no-gzip:1,E=no-zstd:1]
  RewriteRule "\.pub\.gz$" "-" [T=text/plain,E=no-brotli:1,E=no-gzip:1,E=no-zstd:1]
  RewriteRule "\.svg\.gz$" "-" [T=image/svg+xml,E=no-brotli:1,E=no-gzip:1,E=no-zstd:1]

  <FilesMatch "(\.age|\.css|\.gpg|\.html|\.js|\.pub|\.svg)\.gz$">
    Header append Content-Encoding gzip
    Header append Vary Accept-Encoding
  </FilesMatch>
</IfModule>

# on-demand gzip compression
<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml text/css text/javascript application/javascript application/manifest+json application/trafficadvice+json image/svg+xml
</IfModule>

# enable server push
<IfModule http2_module>
  <FilesMatch "index\.html$">
    Header add Link "</s/app.css>;rel=preload;as=style"
    Header add Link "</j/app.js>;rel=modulepreload;as=script;crossorigin=anonymous"
  </FilesMatch>
</IfModule>
