# https://git-scm.com/docs/gitattributes

# https://git-scm.com/docs/gitattributes#__code_text_code
* text=auto eol=lf

# https://git-scm.com/docs/gitattributes#__code_whitespace_code
* whitespace=tab-in-indent,trailing-space,tabwidth=2

*.adoc linguist-documentation
*.afdesign binary -eol -whitespace
*.css diff=css
*.hmtl diff=html
*.ico binary -eol -whitespace
*.md diff=markdown linguist-documentation
*.png binary -eol -whitespace
*.sh diff=bash
