# https://git-scm.com/docs/gitignore

### Temporary ###
*~

### vim ###
*.sw[a-p]

### Git ###
*.orig

### Mac ###
.DS_Store

### Windows ###
Thumbs.db
desktop.ini

### Jetbrains ###
.idea/
.fleet/
jffi*.dylib

### Visual Studio Code ###
.vscode/

### Certificates ###
*.cer
*.crt
*.key
*.pem

### environment files ###
.env

### direnv files ###
.envrc
