# https://git-scm.com/docs/gitignore

### Linux ###
*.swp

### OSX ###
.DS_Store

### Windows ###
Thumbs.db

### Jetbrains IDEs ###
.idea/
.fleet/
jffi*.dylib

### Code ###
.vscode/

### Certificates ###
*.cer
*.crt
*.key
*.pem

### environment files ###
.env

### direnv files ###
.envrc

### npm ###
/hp/_logs/
/hp/_cacache/
