/*
SPDX-FileCopyrightText: © 2022 Sebastian Davids <sdavids@gmx.de>
SPDX-License-Identifier: Apache-2.0
*/

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme);
@import "tailwindcss/utilities.css" layer(utilities);

/* https://github.com/tailwindlabs/tailwindcss/blob/main/packages/tailwindcss/preflight.css */

@layer base {
  *,
  ::after,
  ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0 solid;
    border-color: var(--color-gray-200, currentColor);
  }

  /* https://dev.to/colingourlay/how-to-support-apple-s-dynamic-text-in-your-web-content-with-css-40c0 */
  @supports (font: -apple-system-body) {
    @media screen and (max-width: 719px) {
      html {
        /* eslint-disable-next-line css/no-important */
        font: -apple-system-body !important;
      }
    }
  }

  html,
  :host {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    font-family:
      /* eslint-disable-next-line css/use-baseline,css/font-family-fallbacks */
      ui-sans-serif, system-ui, "Segoe UI", Roboto, Helvetica, Arial,
      sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol",
      "Noto Color Emoji";
    -webkit-tap-highlight-color: transparent;
  }

  body {
    line-height: inherit;
  }

  h1,
  h2,
  h3 {
    font-size: inherit;
    font-weight: inherit;
    scroll-margin-block-start: 1rem;
  }

  a {
    color: inherit;
    text-decoration: underline;
    text-decoration-color: var(--color-sky-800);
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
  }

  a:hover {
    text-decoration-thickness: 2px;
  }

  @media (prefers-color-scheme: dark) {
    a {
      text-decoration-color: var(--color-sky-300);
    }
  }

  code {
    font-family:
      /* eslint-disable-next-line css/use-baseline */
      ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono",
      "Courier New", monospace;
    font-size: 1rem;
    scroll-margin-block-start: 2.5rem;
  }

  summary {
    cursor: pointer;
  }

  summary > * {
    display: inline;
  }

  ol,
  ul {
    list-style: none;
  }

  svg {
    display: block;
  }
}
