/*
SPDX-FileCopyrightText: © 2022 Sebastian Davids <sdavids@gmx.de>
SPDX-License-Identifier: Apache-2.0
*/

@tailwind base;

/* https://github.com/tailwindlabs/tailwindcss/blob/master/src/css/preflight.css */

@layer base {
  *,
  ::after,
  ::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0 solid;
    border-color: var(--color-gray-200, currentColor);
  }

  /* https://dev.to/colingourlay/how-to-support-apple-s-dynamic-text-in-your-web-content-with-css-40c0 */
  @supports (font: -apple-system-body) {
    @media screen and (max-width: 719px) {
      html {
        font: -apple-system-body !important;
      }
    }
  }

  html,
  :host {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    font-family:
      ui-sans-serif, system-ui, 'Segoe UI', Roboto, Helvetica, Arial,
      sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
      'Noto Color Emoji';
    -webkit-tap-highlight-color: transparent;
  }

  body {
    line-height: inherit;
  }

  h1,
  h2 {
    font-size: inherit;
    font-weight: inherit;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }

  code {
    font-family:
      ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono',
      'Courier New', monospace;
    font-size: 1em;
  }

  summary {
    cursor: pointer;
  }

  summary > * {
    display: inline;
  }

  ol,
  ul {
    list-style: none;
  }

  svg {
    display: block;
  }
}

@tailwind components;
@tailwind utilities;
