/*
SPDX-FileCopyrightText: © 2022 Sebastian Davids <sdavids@gmx.de>
SPDX-License-Identifier: Apache-2.0
*/

@tailwind base;

/* https://github.com/tailwindlabs/tailwindcss/blob/master/src/css/preflight.css */

@layer base {
  *,
  ::before,
  ::after {
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    border-color: theme('borderColor.DEFAULT', currentColor);
  }

  ::before,
  ::after {
    --tw-content: '';
  }

  html,
  :host {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    font-family: ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
      'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
    -webkit-tap-highlight-color: transparent;
  }

  body {
    line-height: inherit;
  }

  body,
  h1,
  h2,
  h3,
  ol,
  p,
  ul {
    margin: 0;
  }

  h1,
  h2 {
    font-size: inherit;
    font-weight: inherit;
  }

  ol,
  ul {
    list-style: none;
    padding: 0;
  }

  svg {
    display: block;
  }

  code {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
      'Liberation Mono', 'Courier New', monospace;
    font-size: 1rem;
  }

  summary {
    cursor: pointer;
  }

  summary > * {
    display: inline;
  }

  a {
    color: inherit;
    text-decoration: inherit;
  }

  :-moz-focusring {
    outline: auto;
  }
}

@tailwind components;
@tailwind utilities;
