# SPDX-FileCopyrightText: © 2024 Sebastian Davids <sdavids@gmx.de>
# SPDX-License-Identifier: Apache-2.0

# https://docs.docker.com/build/building/context/#dockerignore-files

*~
*.orig
*.sw[a-p]
*.tmp
.DS_Store
[Dd]esktop.ini
Thumbs.db

.dockerignore
Dockerfile
scripts/
