<IfModule mod_headers.c>
  RewriteCond "%{HTTP:Accept-encoding}" "br"
  RewriteCond "%{REQUEST_FILENAME}.br" -s
  RewriteRule "^(.*)\.(html|css|js)$" "/$1.$2.br" [QSA]

  RewriteRule "\.html\.br$" "-" [T=text/html,E=no-brotli:1,E=no-gzip:1]
  RewriteRule "\.css\.br$" "-" [T=text/css,E=no-brotli:1,E=no-gzip:1]
  RewriteRule "\.js\.br$"  "-" [T=text/javascript,E=no-brotli:1,E=no-gzip:1]

  <FilesMatch "(\.html\.br|\.js\.br|\.css\.br)$">
    Header append Content-Encoding br
    Header append Vary Accept-Encoding
  </FilesMatch>

  RewriteCond "%{HTTP:Accept-encoding}" "gzip"
  RewriteCond "%{REQUEST_FILENAME}.gz" -s
  RewriteRule "^(.*)\.(html|css|js)$" "/$1.$2.gz" [QSA]

  RewriteRule "\.html\.gz$" "-" [T=text/html,E=no-brotli:1,E=no-gzip:1]
  RewriteRule "\.css\.gz$" "-" [T=text/css,E=no-brotli:1,E=no-gzip:1]
  RewriteRule "\.js\.gz$"  "-" [T=text/javascript,E=no-brotli:1,E=no-gzip:1]

  <FilesMatch "(\.html\.gz|\.js\.gz|\.css\.gz)$">
    Header append Content-Encoding gzip
    Header append Vary Accept-Encoding
  </FilesMatch>
</IfModule>

<IfModule mod_deflate.c>
  AddOutputFilterByType DEFLATE text/html text/plain text/xml application/xml text/css text/javascript application/javascript
</IfModule>

<IfModule mod_headers.c>
  Header set Content-Security-Policy "default-src 'none'; frame-ancestors 'none'; require-trusted-types-for 'script'; script-src 'self' 'unsafe-inline' 'sha256-4G95wqgQBCNBt5k1EjP9NgJQfr74J3kBKgCkhdtc5vA='; img-src 'self'; style-src 'self'; manifest-src 'self'"
</IfModule>
