# SPDX-FileCopyrightText: © 2022 Sebastian Davids <sdavids@gmx.de>
# SPDX-License-Identifier: Apache-2.0

# https://github.com/browserslist/browserslist?tab=readme-ov-file#browserslistrc

# use 'baseline' once it becomes available
# https://github.com/browserslist/browserslist/issues/771
chrome > 0 and last 2.5 years, edge > 0 and last 2.5 years, safari > 0 and last 2.5 years, firefox > 0 and last 2.5 years, and_chr > 0 and last 2.5 years, and_ff > 0 and last 2.5 years, ios > 0 and last 2.5 years
