# SPDX-FileCopyrightText: © 2022 Sebastian Davids <sdavids@gmx.de>
# SPDX-License-Identifier: Apache-2.0

# https://github.com/browserslist/browserslist?tab=readme-ov-file#browserslistrc

# use 'baseline widely available' once it becomes available
# https://github.com/browserslist/browserslist/issues/771
chrome >= 105, and_chr >= 105, edge >= 105, firefox >= 104, and_ff >= 104, safari >= 16.4, ios_saf >= 16.4
