# http://EditorConfig.org

[*.html]
max_line_length = 80

[*.css]
max_line_length = 80

[*.{js,mjs}]
max_line_length = 80

[*.{json,webmanifest}]
max_line_length = 80

[*.{svg,xml}]
max_line_length = 80
