# SPDX-FileCopyrightText: © 2022 Sebastian Davids <sdavids@gmx.de>
# SPDX-License-Identifier: Apache-2.0

# https://git-scm.com/docs/gitattributes

package-lock.json linguist-generated=true

*.css diff=css
*.html diff=html

*.ico binary -eol -whitespace
*.png binary -eol -whitespace
