# SPDX-FileCopyrightText: © 2022 Sebastian Davids <sdavids@gmx.de>
# SPDX-License-Identifier: Apache-2.0

# https://git-scm.com/docs/gitignore

### NodeJS ###
node_modules/

### husky ###
.husky/_/

### Build ###
dist/
src/s/app.css

### easyrsa ###
certs/

### Tests ###
reports/

### Playwright ###
.playwright/

### Lighthouse CI
.lighthouseci/
