# SPDX-FileCopyrightText: © 2022 Sebastian Davids <sdavids@gmx.de>
# SPDX-License-Identifier: Apache-2.0

# https://prettier.io/docs/en/ignore.html

package-lock.json
devcontainer-lock.json
dist/
node_modules/
.idea/
.fleet/
.vscode/
.git/
